<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petito</title>
</head>
<body>
<h1 th:text="#{register.form-name}"></h1>

<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label for="login" th:text="#{register.login-param}"></label>
        <input type="text" id="login" th:field="*{login}"/>
    </div>
    <div>
        <label for="password" th:text="#{register.password-param}"></label>
        <input type="password" id="password" th:field="*{password}"/>
    </div>
    <div>
        <label for="email" th:text="#{register.email-param}"></label>
        <input type="text" id="email" th:field="*{email}"/>
    </div>
    <div>
        <label for="firstName" th:text="#{register.first-name-param}"></label>
        <input type="text" id="firstName" th:field="*{details.firstName}"/>
    </div>
    <div>
        <label for="lastName" th:text="#{register.last-name-param}"></label>
        <input type="text" id="lastName" th:field="*{details.lastName}"/>
    </div>
    <div>
        <label for="numberPhone" th:text="#{register.phone-param}"></label>
        <input type="number" id="numberPhone" th:field="*{details.numberPhone}"/>
    </div>

    <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}"/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>

    <button type="submit" th:text="#{register.button-label}"></button>

    <div>
        <p>Already have account?
            <a href="/login">Sign in</a>
        </p>
    </div>
</form>
</body>
</html>